<!--Manav Patel-301297156
Social Media Portfolio
Entrepreneurship - The Mindset- GNED 420-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MANAV'S PORTFOLIO</title>
    <link rel="stylesheet" href="/home.css"> <!-- Link to home.css -->
    <script src="https://kit.fontawesome.com/398229c8dc.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <div class="container">
          <nav>
            <img src="/logo1.png" class="logo">
            <ul class="nav-right">
              <li><a href="#header">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#project">Projects</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
          <div class="header-text">
              <h1>Hi, I'm <span>Manav Patel,</span><br><span id="text">Crafting Exceptional Digital Experiences! </span></h1>
<div id="auto-typing-container">
  <span id="auto-typing-text"></span><span id="cursor">_</span>
</div>
             
          </div>
        </div>
    </div>

  <!-- About Page-->
<div id="about">
  <div class="container">
    <div class="row1">
       <div class="about-col-1">
        <img id="user" src="/user.jpg">
       </div>
       <div class="about-col-2">
        <h1 class="sub-title">About Me</h1>
        <p>Personally, I have a deep affinity for the beach. The sound of crashing waves, the feel of warm sand beneath my feet, and the vastness of the ocean have always been a source of tranquility and inspiration for me. When I'm not coding, you'll often find me by the shoreline, soaking in the beauty of nature.<br><br>In the world of coding, my heart belongs to web development. The dynamic and ever-evolving nature of web technologies captivates my curiosity and fuels my passion. Building web applications, crafting user-friendly interfaces, and bringing creative ideas to life through code are some of the things that ignite my enthusiasm in the realm of web development.</p>

        <div class="tab-titles">
          <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
          <p class="tab-links" onclick="opentab('experience')">Experience</p>
          <p class="tab-links" onclick="opentab('education')">Education</p>
        </div>

        <div class="tab-contents active-tab" id="skills">
          <ul>
            <li><span>Web Development</span><br>Web App Development</li>
            <li><span>UI/UX Designer</span><br>Designing Interfaces</li>
            <li><span>App Development</span><br>Building Android/IOS Apps</li>
          </ul>
        </div>

        <div class="tab-contents" id="experience">
          <ul>
            <li><span>MAY 2023 - JULY 2023</span><br>Certified Internship <br> Unite IT, Ahmedabad, Bharat. <br> Focused: Node Js, Angular Js</li>
            
          </ul>
        </div>

        <div class="tab-contents" id="education">
          <ul>
            <li><span>2021-Current</span><br>Software Engineering Technician</li>
            <li><span>2019-2021</span><br>Higher Secondary Education</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------Service Page------------------------->
<div id="services">
  <div class="container">
     <h1 class="sub-title">My Services</h1>
     <div class="services-list">
        <div>
          <i class="fa-solid fa-code"></i>
          <h2>Web Designing</h2>
          <p>I specialize in creating high-quality, responsive websites and web applications tailored to your unique needs. My expertise in the latest technologies and best practices ensures that your online presence stands out. Whether you need an engaging e-commerce platform, a sleek corporate website, or a custom web solution, I've got you covered.</p><br>
          <a href="#">Learn More</a>
        </div>
          <div>
            <i class="fa-brands fa-apple"></i>
            <h2>App Development</h2>
            <p>I excel in crafting user-friendly, feature-rich mobile and web applications that enhance user experiences. I'm passionate about turning your innovative ideas into reality. From concept to launch, I, as a dedicated developer and designer, work collaboratively to bring your vision to life. Whether it's for iOS, Android, or cross-platform, I deliver apps that make an impact.</p><br>
            <a href="#">Learn More</a>
          </div>
            <div>
              <i class="fa-solid fa-crop"></i>
              <h2>UI/UX Designing</h2>
              <p>At the heart of every successful digital product is a seamless user experience and stunning visual design. My UI/UX design services focus on creating intuitive interfaces that captivate users and keep them engaged. I understand the importance of user-centered design and follow industry best practices to ensure your product not only looks great but also delivers an exceptional user journey. Let me transform your ideas into beautiful and user-friendly designs."</p><br>
              <a href="#">Learn More</a>
            </div>
     </div>
  </div>
</div>

<!-----------------------Projects----------------------->
<div id="project">
  <div class="container">
    <h1 class="sub-title">My Work</h1>
    <div class="work-list">
      <div class="work">
        <img src="/work-1.png">
        <div class="layer">
          <h3>Research Paper</h3>
          <p>Its a Group Work - The research paper introduces a comprehensive disease prediction system using machine learning to detect illnesses like heart disease, diabetes, pneumonia, and brain tumors early. Developed by me and my group from India, the system aims to unify illness prediction models, employing various algorithms for accurate forecasts. It emphasizes efficient diagnosis and improved patient care through state-of-the-art technology and streamlined processes.</p>
          <a href="https://drive.google.com/file/d/181O2_L0OjZU0OsdOKcw5cSpXQn2lLAOL/view?usp=drive_link"><i class="fa-solid fa-link"></i></a>
        </div>
      </div>
      <div class="work">
        <img src="/work-2.png">
        <div class="layer">
          <h3>Social Media App - Underwork</h3>
          <p>SocialSphere is a vibrant and innovative social media platform designed to bring people together, fostering meaningful connections and enriching experiences. Whether you're looking to share your passions, stay updated with friends and family, or discover new interests, SocialSphere offers a dynamic space for all.</p>
          <a href="https://drive.google.com/file/d/181O2_L0OjZU0OsdOKcw5cSpXQn2lLAOL/view?usp=drive_link"><i class="fa-solid fa-link"></i></a>
        </div>
      </div>
      <div class="work">
        <img src="/work-3.png">
        <div class="layer">
          <h3>Grocery App - Under work</h3>
          <p>Revolutionize your grocery shopping experience with our convenient grocery app. Say goodbye to long lines and crowded stores. Shop for fresh produce, pantry staples, and household essentials from the comfort of your home. Browse a wide selection, enjoy exclusive discounts, and schedule delivery at your convenience. Make grocery shopping a breeze with our user-friendly app and spend more time doing what you love.</p>
          <a href="#"><i class="fa-solid fa-link"></i></a>
        </div>
      </div>
    </div>
    <a href="#" class="btn"> More projects on way</a>
    <a href="https://drive.google.com/file/d/1TQ1XCxCq6b602XmZCTjhvj2txnkAakMk/view?usp=drive_link" download="unite IT.pdf" class="btn">Internship Certificate</a>
  </div>
</div>


<!------------------------Contact------------------->
<div id="contact">
  <div class="container">
    <div id="row">
      <div class="contact-left">
        <h1 class="sub-title">Let's Connect</h1>
        <p><i class="fa-regular fa-paper-plane"></i> manav896939@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> +1(647)-869-3423</p>
        <div class="social-icons">
          <a href="https://instagram.com/ptl_manav_03?igshid=MzMyNGUyNmU2YQ%3D%3D&utm_source=qr"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100034345371342&mibextid=LQQJ4d"><i class="fab fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/manav-patel-53ab4b269?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-twitter-square"></i></a>
        </div>

        <a href="https://docs.google.com/document/d/1W6n4VgZrKkg-0MRD2iXceNp1uY52OGoj/edit?usp=sharing&ouid=113470305119255094386&rtpof=true&sd=true" download="MANAV-CV.word" class="btn btn2">Download CV</a>
      </div>

      <div class="contact-right">
       <form name="submit-to-google-sheet">
        <input type="text" name="Name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
        <button type="submit" class="btn btn2">Submit</button>
       </form>
       <span id="msg"></span>
       </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © Manav Patel | Simply Code <i class="fa-solid fa-laptop-code"></i></p>
  </div>
</div>


<!--JavaScript-->
<script>
  var tablinks = document.getElementsByClassName("tab-links");
  var tabcontents = document.getElementsByClassName("tab-contents");
  function opentab(tabname) {
    for (tablink of tablinks) {
      tablink.classList.remove("active-link");
    }
    for (tabcontent of tabcontents) {
      tabcontent.classList.remove("active-tab");
    }

    event.currentTarget.classList.add("active-link");
    document.getElementById(tabname).classList.add("active-tab");
  }
</script>

<script>
  const autoTypingTextElement = document.getElementById('auto-typing-text');
  const cursorElement = document.getElementById('cursor');
  const textArray = ['Web Developer', 'Front-end Developer', 'UI/UX Designer']; // Add the text you want to cycle through
  let currentIndex = 0;
  let currentText = textArray[currentIndex];
  let textIndex = 0;
  let isTyping = true;

  function toggleCursor() {
    cursorElement.style.display = isTyping ? 'none' : 'inline'; // Toggle cursor visibility
    isTyping = !isTyping;
    setTimeout(toggleCursor, 500); // Toggle cursor every 500ms (adjust as needed)
  }

  function typeText() {
    if (textIndex < currentText.length) {
      autoTypingTextElement.textContent = currentText.substring(0, textIndex + 1);
      textIndex++;
    } else {
      setTimeout(eraseText, 1500); // Wait for 1.5 seconds before erasing
      return;
    }
    
    setTimeout(typeText, 100); // Slower typing speed (adjust as needed)
  }

  function eraseText() {
    if (textIndex >= 0) {
      autoTypingTextElement.textContent = currentText.substring(0, textIndex);
      textIndex--;
    } else {
      currentIndex = (currentIndex + 1) % textArray.length;
      currentText = textArray[currentIndex];
      setTimeout(typeText, 500); // Wait for 0.5 seconds before typing the next text
      return;
    }
    
    setTimeout(eraseText, 50); // Slower erasing speed (adjust as needed)
  }

  toggleCursor(); // Start toggling the cursor
  setTimeout(typeText, 200); // Wait for 0.2 seconds before starting the typing effect
</script>

<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbxl9Cw7lrzuVZoOT6p3CjfEQcOUiR9zqTnxGSqqWhX1EVEzKQzlSRmBgkbZoqHk3h1-gA/exec';
  const form = document.forms['submit-to-google-sheet']
  const msg = document.getElementById("msg");
  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => {
        msg.innerHTML = "Message Sent Successfully!"
        setTimeout(function(){
          msg.innerHTML = ""
        },5000)
        form.reset()
      })
      .catch(error => console.error('Error!', error.message))
  })
</script>
</body>

</html>
